

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}


.hide-on-small {
  display: none;
}

.stack-on-small {
  flex-direction: column;
}
#root {
  min-width: 375px;
  max-width: 1200px;
}

/* .job-card{
 width: 100%;
} */

@media screen and (min-width: 769px) {
  .hide-on-small {
      display: block;
  }

  .stack-on-small {
    flex-direction: row;
  }

  #root {
    margin: 0 auto;
  }
}
